<div class="container">
    <h1>What is a Hot Tour?</h1>
    <h4>Here is the answer</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi minus obcaecati mollitia iste sunt iusto blanditiis fugit, aliquid odit cumque libero numquam eius ex ipsum asperiores, quos expedita corporis quis quidem doloribus repellat? Maxime dolorem,
        molestiae at quia adipisci, ab explicabo minus vitae enim omnis dolor consectetur ratione ipsa porro?</p>
    <hr>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi minus obcaecati mollitia iste sunt iusto blanditiis fugit, aliquid odit cumque libero numquam eius ex ipsum asperiores, quos expedita corporis quis quidem doloribus repellat? Maxime dolorem,
        molestiae at quia adipisci, ab explicabo minus vitae enim omnis dolor consectetur ratione ipsa porro?</p>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi minus obcaecati mollitia iste sunt iusto blanditiis fugit, aliquid odit cumque libero numquam eius ex ipsum asperiores, quos expedita corporis quis quidem doloribus repellat? Maxime dolorem,
        molestiae at quia adipisci, ab explicabo minus vitae enim omnis dolor consectetur ratione ipsa porro?</p>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi minus obcaecati mollitia iste sunt iusto blanditiis fugit, aliquid odit cumque libero numquam eius ex ipsum asperiores, quos expedita corporis quis quidem doloribus repellat? Maxime dolorem,
        molestiae at quia adipisci, ab explicabo minus vitae enim omnis dolor consectetur ratione ipsa porro?</p>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi minus obcaecati mollitia iste sunt iusto blanditiis fugit, aliquid odit cumque libero numquam eius ex ipsum asperiores, quos expedita corporis quis quidem doloribus repellat? Maxime dolorem,
        molestiae at quia adipisci, ab explicabo minus vitae enim omnis dolor consectetur ratione ipsa porro?</p>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi minus obcaecati mollitia iste sunt iusto blanditiis fugit, aliquid odit cumque libero numquam eius ex ipsum asperiores, quos expedita corporis quis quidem doloribus repellat? Maxime dolorem,
        molestiae at quia adipisci, ab explicabo minus vitae enim omnis dolor consectetur ratione ipsa porro?</p>
</div>