<!-- bootstrap carousel -->
<div id="carouselCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/Bora-Bora.jpg" class="d-block w-100" alt="Bora-Bora">
            <div class="carousel-caption d-none d-md-block">
                <h5>Bora-Bora</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/img/Dubai.jpg" class="d-block w-100" alt="Dubai">
            <div class="carousel-caption d-none d-md-block">
                <h5>Dubai</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/img/Maldives.jpg" class="d-block w-100" alt="Maldives">
            <div class="carousel-caption d-none d-md-block">
                <h5>Maldives</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/img/Mosque-Abu-Dhabi.jpg" class="d-block w-100" alt="Mosque-Abu-Dhabi">
            <div class="carousel-caption d-none d-md-block">
                <h5>Abu Dhabi</h5>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- end of bootstrap carousel -->