.headline {
    text-align: center;
    margin: 20px;
}

.item {
    text-align: center;
    .bi {
        font-size: larger;
    }
}

.itemImg {
    height: 250px;
    width: 350px;
    margin: 15px;
    margin-bottom: 50px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    figcaption {
        text-align: center;
    }
}

.btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}