<div class="container">
    <h1 class="headline">Best Traveling Experience with Hot Tour</h1>
    <p class="headline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusantium quaerat asperiores provident nesciunt consequatur enim illo exercitationem, reprehenderit commodi!</p>
    <div class="row row-cols-4">
        <div class="item">
            <span><i class="bi bi-buildings-fill"></i></span><br>
            <h4>Accomodation</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In et magni animi ipsum incidunt nihil?</p>
        </div>
        <div class="item">
            <span><i class="bi bi-airplane-fill"></i></span><br>
            <h4>Transportation</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In et magni animi ipsum incidunt nihil?</p>
        </div>
        <div class="item">
            <span><i class="bi bi-people-fill"></i></span><br>
            <h4>Seasoned Agents</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In et magni animi ipsum incidunt nihil?</p>
        </div>
        <div class="item">
            <span><i class="bi bi-star-fill"></i></span><br>
            <h4>Easy Trip Planning</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In et magni animi ipsum incidunt nihil?</p>
        </div>
    </div>
    <h2 class="headline">Popular destinations</h2>
    <div class="row row-cols-3">
        <div class="itemImg">
            <img src="/assets/img/Bora-Bora-2.jpg" alt="Bora-Bora">
            <figcaption>Bora-Bora</figcaption>
        </div>
        <div class="itemImg">
            <img src="/assets/img/Maldives-2.jpg" alt="Maldives">
            <figcaption>Maldives</figcaption>
        </div>
        <div class="itemImg">
            <img src="/assets/img/Hamburg-Speicherstadt.jpg" alt="Hamburg-Speicherstadt">
            <figcaption>Speicherstadt</figcaption>
        </div>
    </div>
    <div class="btnDiv">
        <button class="btn btn-success" routerLink="#">See more offers</button>
    </div>

</div>